<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editează Recenzie</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<div class="container">
  <h1>Editează Recenzie</h1>
  <form th:action="@{/user/edit-recenzie}" method="post">
    <input type="hidden" name="id" th:value="${recenzie.id}" />
    <label for="film">Film:</label>
    <select name="filmId" id="film" th:disabled="true">
      <option th:each="film : ${filme}" th:value="${film.id}" th:text="${film.titlu}" th:selected="${recenzie.film.id == film.id}"></option>
    </select>
    <label for="rating">Rating:</label>
    <input type="number" id="rating" name="rating" min="1" max="5" th:value="${recenzie.rating}" required />
    <label for="text">Text:</label>
    <textarea id="text" name="text" required th:text="${recenzie.text}"></textarea>
    <button type="submit" class="primary-button">Salvează</button>
  </form>
  <a th:href="@{/user/recenzii-mele}" class="secondary-button">Anulează</a>
</div>
</html>
